<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DBmigration home page</title>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>

</head>
<body>
<form autocomplete="off" method="post" action="/">
    <div class="container">
        <div class="form form--from">
            <div class="form--heading">Please enter your source db details</div>
            <!--TODO remove hardcoded values-->
            <input type="text" placeholder="URL From" name="urlFrom" value="jdbc:mysql://localhost:3306/test2"/>
            <input type="text" placeholder="Username" name="usernameFrom" value="root"/>
            <input type="password" placeholder="Password" name="passwordFrom" value="root"/>
        </div>
        <div class="message buttons">
            <div class="btn-wrapper">
                <button class="button">Get schema</button>
            </div>
        </div>
    </div>
</form>


</body>
</html>