<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="exp">
    <div class="checkbox">
        <form>
            <div>

                <input type="checkbox" id="check" name="check" value="" />
                <label for="check">
                    <span><!-- This span is needed to create the "checkbox" element --></span>Checkbox
                </label>
            </div>
        </form>
    </div>

</body>
</html>