<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tables and checkboxes</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/view.js}"></script>
</head>

<body>
<h1>Table's name page</h1>
<div th:each="table: ${tables}">
    <label>
        <input type="checkbox" th:text="${table.name}"/>
    </label>
</div>
<button id="select" onclick="selectTables()">Prepare to migration</button>
<form autocomplete="off" method="post" action="/">
    <div class="form form--from">
        <div class="form--heading">Please enter your source db details</div>
        <!--TODO remove hardcoded values-->
        <input type="text" placeholder="URL To" name="urlTo" value="jdbc:postgresql://localhost:5432/postgres"/>
        <input type="text" placeholder="Username" name="usernameTo" value="postgres"/>
        <input type="password" placeholder="Password" name="passwordTo" value="root"/>
    </div>
    <button id="createTest" onclick="generateSqls()">Prepare to migration</button>
</form>


<div style="border: 1px solid; width: 1024px; height: 200px;"></div>

<button class="button">Migrate</button>

<div style="border: 1px solid; width: 1024px; height: 200px;"></div>


</body>
</html>