<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tables and checkboxes</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/view.js}"></script>
</head>

<body>
<h1>Table's name page</h1>
<div th:each="table: ${tables}">
    <label>
        <input type="checkbox" th:text="${table.name}"/>
    </label>
</div>

<button id="createTest" onclick="generateSqls()">Select tables</button>

<div style="border: 1px solid; width: 1024px; height: 200px;">

</div>

<form autocomplete="off" method="post" action="/">
    <div class="container">
        <div class="form form--from">
            <div class="form--heading">Please enter your source db details</div>
            <!--TODO remove hardcoded values-->
            <input type="text" placeholder="URL From" name="urlFrom" value="jdbc:postgresql://aca-db.duckdns.org:5432/postgres"/>
            <input type="text" placeholder="Username" name="usernameFrom" value="root"/>
            <input type="password" placeholder="Password" name="passwordFrom" value="root"/>
        </div>
        <div class="message buttons">
            <div class="btn-wrapper">
                <button class="button">Migrate</button>
            </div>
        </div>
    </div>
</form>

<div style="border: 1px solid; width: 1024px; height: 200px;">

</div>

</body>
</html>